.DS_Store
Thumbs.db

# Java
backend/target/
*.class

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Python
ai-service/.venv/
ai-service/__pycache__/
ai-service/**/__pycache__/
ai-service/.pytest_cache/
*.pyc

# Environment
.env
.env.local
*.log

# Runtime data
storage/
uploads/

# Model
ai-service/models
ai-service/tests
!ai-service/tests/
!ai-service/tests/*.py

#own-local-test
.vscode/
mytest/
message.txt

#database
ai-service/app/*.db
ai-service/app/*.db.bak
ai-service/app/chroma_db/

AGENT.md